<!doctype html>
<html>
<head>
    <title>Chat Application Service - PA IMG - SS 2015</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/css/style.css" />
    <script src="static/js/bootstrap.min.js"></script>

</head>
<body>

<div id="title">Chat Application Service</div>
<div id="undertitle">Prüfungsaufgabe im Modul IMG, SS 2015</div>

<div class="center">

    <div class="panel panel-default" style="">
        <div class="panel-heading">
            <h3 class="panel-title">Registrieren am CAS</h3>
        </div>
        <div class="panel-body" style="text-align: center">

            <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <form action="/registrieren" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Benutzername">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Kennwort">
                </div>

                <a href="/" class="btn btn-default"><span class="fa fa-user"></span> zurück</a>
                <button type="submit" class="btn btn-success">Registrieren</button>
            </form>

        </div>
    </div>

</div>


</body>
</html>