body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #575e6d;
    font-family:    Calibri, serif;
}

.center {
    position: absolute;
    width: 500px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -250px;
}

#title {
    color: #cbcbcb;
    font-weight: bold;
    font-size: 40px;
    font-family: "Calibri Light", serif;
    top: 30px;
    right: 30px;
    position: absolute;
    text-align: center;
}
#undertitle {
    color: #cbcbcb;
    font-size: 20px;
    font-family: "Calibri Light", serif;
    top: 80px;
    right: 30px;
    position: absolute;
    text-align: center;
}

.frame {
    position: absolute;
    width: 500px;
    height: 600px;
    top: 50px;
    left: 50px;
}
.webcamframe {
    position: absolute;
    top: 50px;
    left: 600px;
}
.chat {
    top: 0px;
    position: relative;
    height: 225px;
    overflow: auto;
    color: #252525;
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.chat li {
    list-style-type: none;
}

.userinput {
    position: relative;
    top: 0;
    border: 1px solid #cccccc;
    height: 30px;
    width: 740px;
    padding: 10px;
    color: #3f3f3f;
    font-size: 12pt;
    background-color: #f4f4f4;
    /* -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; */
}
#camera {
    position: absolute;
    right: 15px;
    top: 15px;
}

.webcamstartandstop {
    top: 120px;
    right: 30px;
    position: absolute;
}

.system {
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgba(16, 184, 57, 0.75)
}
.typing {
    color: #b7e5ff;
}
.image {
    margin: 10px;
    max-width: 300px;
    max-height: 200px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


#whosonline {
    position: absolute;
    top: 180px;
    right: 30px;
    min-width: 150px;
    width: 150px;
}
#whosonline_body {
    list-style-type: square;
}

.closeimage {
    float: right;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
